{% extends 'base-dashboard.html' %}

{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Data Kelompok Tani</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Beranda</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
              <li class="breadcrumb-item active">Data Kelompok Tani</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true" class="bi bi-x-lg"></span>
                  </button>
                {% if category == 'pass-error'%}
                  {{ message }}.
                {% else %}
                  {{ message }}.
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Table Kelompok Tani</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nama Kelompok Tani</th>
                      <th>Telp/No. Hp</th>
                      <th>Nomor SK Bupati</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in kelompok_tani %}
                      <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.nama}}</td>
                        <td>{{row.telp}}</td>
                        <td>{{row.no_sk}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block scripts %}
  <!-- DataTables  & Plugins -->
  <script src="../static/plugins/dashboard/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/jszip/jszip.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/pdfmake.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/vfs_fonts.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock %}