{% extends 'base-input-data.html' %}

{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Data Kabupaten</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Beranda</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.input_data') }}">Input Data</a></li>
              <li class="breadcrumb-item active">Data Kabupaten</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true" class="bi bi-x-lg"></span>
                  </button>
                {% if category == 'pass-error'%}
                  {{ message }}.
                {% else %}
                  {{ message }}.
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Table Kabupaten</h3>
                <a class="add-input-data-btn" href="" data-toggle="modal" data-target="#mymodal">Tambah</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nama Kabupaten/Kota</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in kabupaten %}
                      <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.nama}}</td>
                        <td>
                          <a class="edit-input-data-btn" href="/input-data/data-kabupaten/update/{{row.id}}" data-toggle="modal" data-target="#modaledit{{row.id}}">Ubah</a>
                          <a class="delete-input-data-btn" href="/input-data/data-kabupaten/delete/{{row.id}}" data-toggle="modal" data-target="#modaldelete{{row.id}}">Hapus</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- Modal Edit Kabupaten-->
  {% for row in kabupaten %}
    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Data Kabupaten/Kota</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{ url_for('main.input_data_kabupaten_update') }}" method="POST">
                <div class="form-group input-group">
                  <input type="hidden"  name="id_kabupaten" value="{{row.id}}">
                  <input type="text" class="form-control" name="nama" placeholder="Nama Kabupaten/Kota" value="{{row.nama}}">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="bi bi-geo-alt"></span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-wrn" type="submit">Ubah</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
              
  <!-- Modal Add Kabupaten-->
  <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Kabupaten/Kota</h4>
          </div>
          <div class="modal-body card-body register-card-body">
            <form action="{{url_for('main.input_data_kabupaten_add')}}" method="POST">
              <div class="form-group input-group">
                <select name="provinsi" class="form-control add" required> 
                  <option value="" disabled selected hidden>Provinsi</option>  
                  {% for row in provinsi %} 
                    <option value="{{ row.id }}">{{ row.id }} | {{ row.nama }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="id" placeholder="ID Kabupaten/Kota" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-sort-numeric-up"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="text" class="form-control" name="nama" placeholder="Nama Kabupaten/Kota" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit">Tambah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Kabupaten-->
  {% for row in kabupaten %}
    <div id="modaldelete{{row.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data Kabupaten/Kota</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <h6><b>ID</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{row.id}}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-sort-numeric-up"></span>
                  </div>
                </div>
              </div>
              <h6><b>Nama Kabupaten/Kota</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{row.nama}}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                </div>
              </div>
              <form action="{{ url_for('main.input_data_kabupaten_delete') }}" method="POST">
                  <div class="modal-footer">
                    <input type="hidden"  name="id" value="{{row.id}}">
                    <button class="btn btn-primary btn-dgr" type="submit">Hapus</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <!-- DataTables  & Plugins -->
  <script src="../static/plugins/dashboard/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/jszip/jszip.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/pdfmake.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/vfs_fonts.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock %}